

:root {
    --light-bg-color: white;
    --light-accent-color: lightgray;
    --light-text-color: black;

    --dark-bg-color: black;
    --dark-accent-color: lightgray;
    --dark-text-color: white;
}


* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: var(--light-bg-color);
}

button {
    background-color: transparent;
    border-style: solid;
    border-radius: 7.5px;
    border-color: --light-text-color;
    padding: 5px;
    font-size: 11pt;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-accent-color);
}

.reverseColor {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}



/************************ Header ************************/



/************************ Main ************************/

main {
    padding: 30px;
}

/* Header */
#heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#heading p {
    text-align: right;
}

/********** Widgets **********/

.widget {
    border-style: solid;
    border-color: var(--light-accent-color);
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* Today's Summary */

#macros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.macro {
    background-color: var(--light-accent-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/* Quick Actions */

#quickActions {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#quickActionButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Meals Overview */

.mealOverview {
    border-style: solid;
    border-color: var(--light-accent-color);
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;

    margin-top: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 20%;
    row-gap: 10px;
}

.mealOverview button {
    grid-column: 1/3;
    margin: auto;
}

.foodItem {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 20%;
}

.noFoodItem {
    grid-column: 1/3;
    text-align: center;
}


/************************ Footer ************************/

