
main {
    max-width: 700px;
}

#personalInformationForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mainFormSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 10px;
}

#finalEstimation button {
    width: 100%;
}