
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-bg-color: white;
    --light-accent-color: lightgray;
    --light-text-color: black;

    --dark-bg-color: black;
    --dark-accent-color: lightgray;
    --dark-text-color: white;
}


* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Elms Sans", sans-serif;
}

body {
    background-color: var(--light-bg-color);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;

    grid-gap: 20px;
    grid-column: 20px;

    max-width: 1100px;
    margin: auto;
}

button {
    background-color: transparent;
    border-style: solid;
    border-radius: 7.5px;
    border-color: --light-text-color;
    padding: 5px;
    font-size: 11pt;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-accent-color);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label, legend {
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light-accent-color);
    border: none;
}

.reverseColor {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

#currentLink {
    text-decoration: underline;
}

.outline {
    border: solid 2px var(--light-accent-color);
    border-radius: 10px;
    padding: 20px;
}

/* Progress Bar */

.progressBar {
    background-color: var(--light-accent-color);
    border-radius: 100px;
    display: grid;
    grid-template-columns: 50%;
}

.progressBar div {
    border-radius: 100px;
    background-color: var(--light-text-color);
}

/************************ Header ************************/

header {
    border-bottom: 1px solid var(--light-accent-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Navigation */

nav ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
}